<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Mercado Liebre</title>
  </head>

  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <div class="logo-center">
          <img src="/images/logo-mercado-liebre.svg" class="logo-ml" />
        </div>
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
        <a href="#" class="burger-buttom">
          <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-navbar">
          <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>

          <ul class="right-navbar">
            <li>
              <a href="#"
                >Creá tu cuenta <i class="fa-solid fa-address-card"></i
              ></a>
            </li>
            <li>
              <a href="#"
                >Ingresá <i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li>
              <a href="#"
                >Mis compras <i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
